// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.card-header{
  font-size: 28px;
  font-weight: bolder;

}

.btn-link{
  color:#fff;
}

.card-body{

  background-color: #4fadb5;

  h3{
    color: purple;
  }

  li{
    list-style: none;
    padding: 15px;

    background-color: #fff;
   }
}
